* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow: hidden; /* No Scrollbar */
  font-family: "Arial", sans-serif;
  background: rgba(0, 0, 0, 0.1);
}

.landing-page {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slider {
  position: absolute;
  top: 30px;
  left: 270px;
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.8s ease-in-out;
  z-index: -1;
}

.slide {
  flex: 0 0 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.content {
  width: 38%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #ffc;
  text-shadow: 0px 4px 6px rgba(69, 24, 4, 255);
}

.content h1 {
  font-size: 9rem;
  margin-bottom: 5rem;
  margin-top: -320px;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-top: -50px;
  width: 500px;
}

.cta-button {
  display: inline-block;
  background-color: #ff6600;
  color: white;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background: #ff4500;
}

.footer {
  position: relative;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0.8rem 0;
  z-index: 1;
  font-size: 0.9rem;
}

.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 2;
}

button {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: rgba(0, 0, 0, 0.8);
}

@media (min-width: 768px) {
  .content h1 {
    font-size: 4rem;
  }

  .content p {
    font-size: 1.5rem;
  }

  .cta-button {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }

  @media (min-width: 1200px) {
    .content h1 {
      font-size: 5rem;
    }

    .content p {
      font-size: 1.8rem;
    }

    .cta-button {
      font-size: 1.4rem;
      padding: 1.2rem 2.5rem;
    }
  }
}
